{% assign history = page %}
<article class="bubble history no-padding">
	<div class="bubble-padding">
		{% unless include.embed %}<a href="/history">🡐 Back to History</a>{%
		endunless %}
		<header>
			<h2>
				<a href="{{ history.url }}">{{ history.name }}</a>
			</h2>
			<div class="info">
				Released {{ history.date | date: site.date_format }}
			</div>
		</header>
		<div class="body">
			{% if include.embed and history.content.size > history.excerpt.size
			%} {{ button }} {{ history.excerpt }}
			<p><a href="{{ history.url }}">Read More</a></p>
			{% else %} {{ history.content }} {% endif %}
		</div>
	</div>
</article>
