{% assign post = include.post %} {% unless include.post %} {% assign post = page
%} {% endunless %}

<article class="bubble blog-post">
	<header>
		<div class="info">Posted {{ post.date | date_to_string }}</div>
		<h2>
			<a {% if include.embed %} href="{{ post.url }}" {% endif %}
				>{{ post.title }}</a
			>
		</h2>
		<div class="tags">
			<a href="#">Platformer</a>
			<a href="#">Unity</a>
			<a href="#">C#</a>
		</div>
	</header>
	<div class="body">
		{% if post.link %}
		<a class="button-link" href="{{ post.link }}">Direct Link&ensp;🡒</a>
		{% endif %} {% if include.embed %} {{ post.excerpt }}
		<p><a href="{{ post.url }}">Read More</a></p>
		{% else %} {{ content }} {% endif %}
	</div>
</article>
