{% assign post = include.post %} {% unless include.post %} {% assign post = page
%} {% endunless %} {% capture button %}{% if post.link %}<a
	class="button-link"
	href="{{ post.link }}"
	>{% if post.video %}Watch on YouTube{% else %}Direct Link{% endif
	%}&ensp;🡒</a
>{% endif %}{% endcapture %}

<article class="bubble blog-post no-padding">
	{% if post.banner %}<a href="{{ post.url }}"
		><img src="/img/post/{{ post.slug }}/{{ post.banner }}" /></a
	>{% endif %} {% if post.video %}
	<iframe
		width="100%"
		style="aspect-ratio: 16 / 9"
		src="{{ post.video }}"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen
	></iframe>
	{% endif %}
	<div class="bubble-padding">
		<header>
			<div class="info">
				Posted {{ post.date | date: site.date_format }}
			</div>
			<h2>
				<a {% if include.embed %} href="{{ post.url }}" {% endif %}
					>{{ post.title }}</a
				>
			</h2>
			{% if post.tags.size > 0 %}
			<div class="tags">
				{% for tag in post.tags %}<a href="/tag/{{ tag | slugify }}"
					>{{ tag }}</a
				>{% endfor %}
			</div>
			{% endif %}
		</header>
		<div class="body">
			{% if include.embed %} {{ button }} {{ post.excerpt }}
			<p><a href="{{ post.url }}">Read More</a></p>
			{% else %} {{ content }} {{ button }} {% endif %}
		</div>
		<footer>
			<div class="author">
				{% assign author = site.author | where: 'short_name',
				post.author | first %} {% if author %}<a href="{{ author.url }}"
					><img src="/img{{ author.url }}.png"
				/></a>
				<a href="{{ author.url }}">{{ author.name }}</a>
				{% endif %}
			</div>
		</footer>
	</div>
</article>
