---
layout: default
---

<section>
	<div class="bubble author-bio">
		<img src="/img{{ page.url }}.png" alt="{{ page.name }}'s Avatar" />
		<div class="body">
			<h1>{{ page.name }}</h1>
			<p>{{ page.position }}</p>

			{{ page.content }}
		</div>
	</div>
</section>
<section class="blog-posts">
	<div class="header">Posts by {{ page.name }}</div>
	{% assign filtered_posts = site.posts | where: 'author', page.short_name %}
	{% for post in filtered_posts %} {% include post.html post=post embed=true
	%} {% endfor %}
</section>
