---
layout: default
---

<section>
	<article class="glossary bubble no-padding">
		<img
			src="/img/glossary/{{ page.slug }}/{{ page.banner }}"
			alt=""
			width="100%"
		/>
		<div class="bubble-padding">
			<a href="/glossary">🡐 Back to Glossary</a>
			<header>
				<h1>
					<a>{{ page.name }}</a>
				</h1>
				<div class="info">
					Published {{ page.date | date: site.date_format }} &bull; By
					{% assign author = site.author | where: 'short_name',
					page.author | first %} {% if author %}
					<a href="{{ author.url }}">{{ author.name }}</a>
					{% endif %}
				</div>
			</header>

			<div class="body">
				<!-- TODO: make sure we have multiline support -->
				{% for p in page.definition %} {{ p | markdownify }} {% endfor
				%}

				<h2>What it solves</h2>

				{% for p in page.solves %} {{ p | markdownify }} {% endfor %}

				<hr />

				{{ page.content }}

				<hr />

				<h2>Other Names</h2>
				{{ page.other_names | join: ", " }}
			</div>
		</div>
	</article>
</section>
